doctype html
head
  title BUNDL
  link(href='/css/reset.css', rel='stylesheet', type='text/css')
  link(href='/css/bundl_style.css', rel='stylesheet', type='text/css')
  link(href='/css/main.css', rel='stylesheet', type='text/css')
  script(type='application/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(type='application/javascript', src='/javascript/collapse.js')
body
    div.temp
      #home
    #bundl_wrapper
      #bundl_header
        #bundl_menu
          ul
            li
              a(href='/index')
                span
                | Link Accounts
            |                 
            li
              a(href='/features')
                span
                | Features
            |                 
            li
              a(href='/support')
                span
                | Support
            |                 
            li
              a(href='/about')
                span
                | About
        |  
        |         
        |        
        #bundl_title
          .title
            include random.html
             
        #bundl_main
        .account_info
         |WELCOME, #{name}  
        br
        .logout
         a(href='/logout') Logout! <br> 
        
        #bundl_sidebar
         #signin_area
          a(href ='/post')
           img(src='/images/postButton.png', alt='Make a Post!')
          br
          include ./smButtons.jade
          br
          br
          br
          br
        br
        |  
        section.content
          if (errorMessage)
            p There was an error: #{errorMessage}
          each post, pdex in index.test
            div.holder
              div.post
                div.postMessage
                  |  #{post.message}
                  br
                div.postAuthor    
                  |  #{post.author}
                  br
                div.clear  
                div.postbottom  
                  div.postDate
                    |  #{post.updatedTimeString}           
                  div.postCommentCount
                    |  #{post.commentCount}
                div.clear
              div.clear
              div.subHolder
                div.SocialMedias
                  each SMNumber in post.socialMedia
                    if (SMNumber == 1)
                       img(src='/images/round/Facebook.png', alt='facebook', width='25px') 
                    if (SMNumber == 2) 
                       img(src='/images/round/Twitter.png', alt='twitter', width='25px')
                    if (SMNumber == 3)
                       img(src='/images/round/GooglePlus.png', alt='google+', width='25px')
                div.Likes
                  | Likes: #{post.like_count}
              div.clear
              each comment, dex in post.comments
                div.comment
                  div.commentIcon
                    if comment.socialMedia == 1
                      img(src='/images/facebook.png', alt='facebook', width='75px')
                    if comment.socialMedia == 2
                      img(src='/images/twitter.png', alt='facebook', width='75px')
                    if comment.socialMedia == 3
                      img(src='/images/google-plus.png', alt='facebook', width='75px')
                  div.commentText
                    div.commentMessage
                      | #{comment.message}
                      br
                    div.commentAuthor
                      | #{comment.author}
                    br
                    div.commentBottom
                      div.commentTime
                        | #{comment.timeString}
                      div.commentLikeCount
                        | LIKES: #{comment.like_count}
                      br
                if (comment.socialMedia == 2)
                  div.messageBox
                    form(method="post", action="/bin/processComment")
                      input(type="text", value="#{comment.socialMedia}", name="smID" hidden)
                      input(type="text", value="#{comment.postID}", name="id" hidden)

                      textarea(type="text",name="commentMessage", value='@'+comment.author)
                      div#submit
                      input(type="submit", value="Comment On Comment")
                 br
              if (post.socialMedia == 1)
                div.messageBox
                  form(method="post", action="/bin/processComment")
                    input(type="text", value="#{post.socialMedia}", name="smID" hidden)
                    input(type="text", value="#{post.postID}", name="id" hidden)
                    textarea(type="text",name="commentMessage", value='')
                    div#submit
                     input(type="submit", value="Comment On Post")
         div.content_right
           br
           br
           if(mentions !== undefined && mentions.length != 0)
             each men in mentions
              div.mentions
                div.post
                  div.postMessage
                    |#{men.message}
                    br
                  div.postAuthor
                    |#{men.author}
                    br
                  div.clear  
                  div.postbottom
                    div.postDate
                     |#{men.updatedTimeString}
                    div.postCommentCount
                     |#{men.like_count}
                  div.clear 
               div.clear     
              br
