doctype html
head
  title BUNDL Post
  body
    center
      img(src='./images/bundlLogo6.png', alt='BUNDL Logo')
    |   
    aside.links
      a(href='./main')
        img(src='./images/feedButton.png', alt='Navigate to Feed')
      |     
      a(href='http://www.plus.google.com')
        img(src='./images/googleButton.png', alt='Navigate to Google+')
      |     
      a(href='http://www.facebook.com')
        img(src='./images/facebookButton.png', alt='Navigate to Facebook')
      |     
      a(href='http://www.twitter.com')
        img(src='./images/twitterButton.png', alt='Navigate to Twitter')
      |     
      a(href='http://www.linkedin.com')
        img(src='./images/linkedinButton.png', alt='Navigate to LinkedIn')
    |   
    section
      form
        input(type='checkbox', name='sel', value='all')
        | Select All
        |       
        input(type='checkbox', name='sel', value='facebook')
        | Facebook
        |       
        input(type='checkbox', name='sel', value='google')
        | Google+
        |       
        input(type='checkbox', name='sel', value='linkedin')
        | LinkedIn
        |       
        input(type='checkbox', name='sel', value='twitter')
        | Twitter
        br
        |       
        img(src='./images/post.png', alt='Post')
        |     
        form
      - for (var i=0; i<index.test.length; i++)
          p  POST ##{i+1}
          |  ID: #{index.test[i].postID}
          br
          |  AUTHOR: #{index.test[i].author}
          br
          |  MESSAGE: #{index.test[i].message}
          br
          |  TIME: #{index.test[i].time}
          br
          | COMMENT COUNT: #{index.test[i].commentCount}
          if index.test[i].commentCount>0
            for comment in index.test[i].commentArray
              p COMMENT ##{j+1}
              | ID: #{comment.postID}
 
